/*@import url('halloween.css')*/


body { color:red;}
H1 { text-align: center;}
H2 { color:green;}

header h2 { color: black;}

#blacklet { color:black;}
nav { background-color: red; color: whitesmoke;}
nav ul li {list-style:none; display: inline-block; 
    height: 30px; width : 150px;
    padding: 5px;
    border: 1px solid blue; 
  background-color: yellow;}

nav a {text-decoration:none}

nav :hover { color: pink;}
nav :visited {color: purple;}
nav :active {color: lightseagreen;}

article { border-bottom: 3px dotted purple ; padding: 8px;}
p { border: 3px solid black; padding: 20px;}

@media screen {


    body {
        color: red;
        /* font-size: 100%; */
    }

    h2 {color: green}

    header h2, 
    #hipster h2 span {color: black}

    p {color: blue}

    p.two {
        color: black;
    }